span[_ngcontent-ng-c3503742219] {
    padding-right: 200px;
    margin-left: 80px;
}
style {
    padding: 200px;
    margin-left: 80px;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-left: 50px;
}
img {
    vertical-align: middle;
    border-style: none;
    width: 80px;
    margin-left: 80px;
}